.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

body{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}


h1{
    background: grey;
    padding: 0.2rem 1rem;
    cursor: pointer;
    margin: 0;
    color: white;
    border-bottom: 2px solid white;
    
}

.invisible{
    display: none;
}

.sec{
    width: 28rem;
}

@media(max-width: 700px){
    h1{

    }
    .sec{width: 100vw;}
}